<div class="rounded border shadow dimension-dialog-box p-4 translate-node-center">
  <table>
    <tr>
      <!-- Dropdown for Encode/ Decode. -->
      <td class="font-family-lucida-console-monaco-monospace" *ngIf="infrastructureNodeList.NodeList[id][2]">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            {{infrastructureNodeList.NodeList[id][2]}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" *ngFor="let option of common.encodeDecodeOptions"
              (click)="infrastructureNodeList.selectencodeDecodeOptionClick(option, id)">{{option}}</button>
          </div>
        </div>
      </td>
      <!-- Button for Removin the node from the Encoding Decoding Stream. -->
      <td>
        <button class="btn btn-secondary position-close-btn" type="button"
          (click)="infrastructureNodeList.RemoveNodeAtindex(id)">
          X
        </button>
      </td>
    </tr>
    <br />
    <tr>
      <!-- Cypher Type -->
      <td class="font-family-lucida-console-monaco-monospace-2em">
        {{infrastructureNodeList.NodeList[id][1]}}
      </td>
    </tr>
    <br />
    <tr>
      <!-- Cypher Name -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
          {{infrastructureNodeList.NodeList[id][3][0]}}
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" type="button"
            (click)="infrastructureNodeList.ShowCypherMenu(infrastructureNodeList.NodeList[id][0]+1, true)">
            Other Cyphers</button>
            <hr />
          <button class="dropdown-item" type="button"
            *ngFor="let option of domainDataService.getTypeCypherArray(infrastructureNodeList.NodeList[id][1])"
            (click)="infrastructureNodeList.selectOptionClick(infrastructureNodeList.NodeList[id][1],option, id[0])">{{option}}</button>
        </div>
      </div>
    </tr>
    <br />
    <tr>
      <td>
        <!-- Cypher Options -->
        <app-cypher-option [id]=[id]></app-cypher-option>
      </td>
    </tr>
    <tr>
      <hr />
    </tr>
    <tr class="d-inline-block">
      <td *ngIf="infrastructureNodeList.NodeList[id][2]">
        // TODO: Add time taken for performance measurement.
      </td>
      <td *ngIf="!infrastructureNodeList.NodeList[id][2]">
        <textarea [(ngModel)]="infrastructureNodeList.NodeList[id][4]"></textarea>
      </td>
    </tr>
  </table>
</div>

<button class="btn btn-secondary my-5 translate-plus-icon-center" type="button"
  (click)="infrastructureNodeList.ShowCypherMenu(infrastructureNodeList.NodeList[id][0]+1)">
  <span class="fas fa-plus"></span>
</button>
