<div class="rounded border shadow dimension-dialog-box p-4 translate-node-center">
  <table>
    <tr>
      <td class="font-family-lucida-console-monaco-monospace" *ngIf="infrastructureNodeList.NodeList[id][2]">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            {{infrastructureNodeList.NodeList[id][2]}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" *ngFor="let option of common.encodeDecodeOptions"
              (click)="selectencodeDecodeOptionClick(option)">{{option}}</button>
          </div>
        </div>
      <td>
    </tr>
    <br />
    <tr>
      <td class="font-family-lucida-console-monaco-monospace">
        {{infrastructureNodeList.NodeList[id][1]}}
      </td>
    </tr>
    <br />
    <tr>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
          {{infrastructureNodeList.NodeList[this.id][3][0]}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button"
            *ngFor="let option of domainDataService.getTypeCypherArray(infrastructureNodeList.NodeList[id][1])"
            (click)="selectOptionClick(option)">{{option}}</button>
        </div>
      </div>
    </tr>
    <br />
    <tr>
      <td *ngIf="infrastructureNodeList.NodeList[id][2]">
        // TODO: Add options for the Dialog options.
      </td>
    </tr>
    <tr>
      <hr />
    </tr>
    <tr class="d-inline-block">
      <td *ngIf="infrastructureNodeList.NodeList[id][2]">
        // TODO: Add time taken for performance measurement.
      </td>
      <td *ngIf="!infrastructureNodeList.NodeList[id][2]">
        <textarea [(ngModel)]="infrastructureNodeList.NodeList[id][4]"></textarea>
      </td>
    </tr>
  </table>
</div>
<button class="btn btn-secondary my-5 translate-plus-icon-center" type="button" (click)="infrastructureNodeList.AddNodeAtindex([1, 'Transform', 'Encode', ['Text Transform', []], 'Input String', 'Output String'])">
  <span class="fas fa-plus"></span>
</button>
