<div class="modal fade font-family-lucida-console-monaco-monospace" id="cypher-menu" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-5">
      <div class=" container row modal-head">
        <h2 class="modal-title col-10">Cypher Menu</h2>
        <button class="btn btn-secondary shadow col-2 btn-cypher-menu-close max-button-height-3rem" type="button" data-dismiss="modal">&nbsp;X&nbsp;</button>
      </div>
      <div class="modal-body padding-0 container row" *ngFor="let type of domainDataService.getTypeArray()">
          <hr class="w-100"/>
          <button class="btn btn-secondary my-2" type="button" disabled>{{type}}</button>
          <span class="w-100"></span>
          <button class="btn btn-secondary mr-1 mb-1" *ngFor="let cypher of domainDataService.getTypeCypherArray(type)" (click)="infrastructureNodeList.AddNodeToNodeList(type, cypher)" data-dismiss="modal">
            {{cypher}}
          </button>
        </div>
        <div class="modal-footer">
        <button class="btn btn-secondary" (click)="common.OpenWebPageInNewTab(common.githubIssuePage)">Request more Cyphers</button>
      </div>
    </div>
  </div>
</div>
