<footer class="col-12 align-self-center no-gutters align-self-end container row bg-white font-family-lucida-console-monaco-monospace px-5 py-4">
  <h5 class="font-size-1_5em">Cyphr:</h5>
  <p class="w-100">
    It is a Web App made to offer modular endoding, decoding and conversion of text based message or string.<br />
    All the operation are done within the browser without any server involvement.
  </p>
  <div class="w-100 col-xl-5 col-lg-6 col-md-9 cointainer row no-gutters">
    <b class="margin-top-0_7rem col-xl-2 col-lg-3 col-md-2">Made by:</b>
    <button class="btn btn-secondary col-xl-3 col-lg-4 col-md-3 m-1" (click)="common.OpenWebPageInNewTab(common.githubIssuePage)">Pru Namikaze</button>
    <button class="btn btn-secondary col-xl-3 col-lg-4 col-md-4 m-1 p-2" (click)="common.OpenWebPageInNewTab(common.githubIssuePage)">Cyphr Github</button>
  </div>
  <br />
</footer>
