<div class="footer bg-white pt-4 font-family-lucida-console-monaco-monospace">
  <table class="mx-5">
    <tr>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <h5>Cyphr:</h5>
      <p>
        It is a Web App made to offer modular endoding, decoding and conversion of text based message or string.<br />
        All the operation are done within the browser without any server involvement.
      </p>
    </tr>
    <tr>
      <td>
        <b>Made by:&nbsp;</b><a href="https://github.com/pru-namikaze">Pru Namikaze</a>
        <a class="border rounded p-2 ml-4" href="https://github.com/pru-namikaze/Cyphr">Cyphr Github</a>
      </td>
    </tr>
  </table>
  <br />
</div>
