<div *ngIf="isView()">
  <input type="text" id="{{id}}"/>
</div>
<div *ngIf="!isView()">
  <div class="col" *ngFor="let options of cypherOptions" [ngSwitch]="options[2].length.toString()">
    <span class="font-weight-bolder font-size-1_25em">
      {{options[1]}}
    </span>
    <input type="text" id="{{ id + options[1] }}" *ngSwitchCase="'1'"
      [ngModel]="getCypherOptionValueFromNodeList(infrastructureNodeList.NodeList[id][3][1], options[0])"
      (keypress)="infrastructureNodeList.UpdateCypherOptionValueFromNodeList(options[0])" />

    <div *ngSwitchCase="'2'">
      <!-- // TODO: Make the button Work. -->
      <div class="input-group row max-width-5rem ml-1" *ngIf="isInputRange(options[2])">
        <button class="input-group-prepend btn btn-secondary max-width-5rem" type="button">&nbsp; - &nbsp;</button>
        <input type="text" class="max-width-5rem"
          [ngModel]="getCypherOptionValueFromNodeList(infrastructureNodeList.NodeList[id][3][1], options[0])" />
        <button class=" input-group-append btn btn-secondary max-width-5rem" type="button">&nbsp; + &nbsp;</button>
      </div>

      <div class="dropdown" *ngIf="!isInputRange(options[2])">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
          {{getCypherOptionValueFromNodeList(infrastructureNodeList.NodeList[id][3][1], options[0])}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" *ngFor="let option of options[2]">{{option}}</button>
        </div>
      </div>
    </div>

    <div class="dropdown" *ngSwitchDefault>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
        {{getCypherOptionValueFromNodeList(infrastructureNodeList.NodeList[id][3][1], options[0])}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" *ngFor="let option of options[2]">{{option}}</button>
      </div>
    </div>
  </div>
</div>
