<div *ngFor="let options of cypherOptions" [ngSwitch]="options[1].length.toString()">
  <hr />
  {{options[0]}}
  <br />

  <div *ngSwitchCase="'1'">
    <input type="text" placeholder={{options[1][0]}} />
  </div>

  <div *ngSwitchCase="'2'">
    <div class="input-group" *ngIf="isInputRange(options[1])">
      <div class="input-group-prepend">
        <button class="btn btn-secondary" type="button">&nbsp; - &nbsp;</button>
      </div>
      <input type="text" placeholder={{options[1][0]}} />
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">&nbsp; + &nbsp;</button>
      </div>
    </div>

    <div class="dropdown" *ngIf="!isInputRange(options[1])">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
        {{options[1][0]}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" *ngFor="let option of options[1]">{{option}}</button>
      </div>
    </div>
  </div>

  <div class="dropdown" *ngSwitchDefault>
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
      {{options[1][0]}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" *ngFor="let option of options[1]">{{option}}</button>
    </div>
  </div>

</div>
