<div class="rounded border shadow dimension-dialog-box ">
  <div>
    <table>
      <tr>
        <td class="font-family-lucida-console-monaco-monospace">
          {{templateName}}
        <td>
      </tr>
      <br />
      <tr>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            {{selectedOption}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" *ngFor="let option of options"
              (click)="selectOptionClick(option)">{{option}}</button>
          </div>
        </div>
      </tr>
      <br />
      <tr>
        TODO: Add options for the Dialog options.
      </tr>
      <tr>
        <hr />
      </tr>
      <tr class="d-inline-block">
        <textarea></textarea>
      </tr>
    </table>
  </div>
</div>
