.dimension-dialog-box
{
  width: 25vw;
  height: 40vh;
  background-color: white;
}
.font-family-lucida-console-monaco-monospace
{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2em;
}
body
{
  background-color: #a9a9a9;
}
.translate-node-center
{
  transform: translateX(37.5vw);
}
.translate-plus-icon-center
{
  width: 2vw;
  transform: translateX(49vw);
}
